<% include ../layout/header.ejs %>
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3><i class="fa fa-angle-right" aria-hidden="true"></i> Danh sách điểm môn học cả năm</h3>
          <% if(locals.Role == 1){%>
          <button class="btn btn-app restore" data-toggle="modal" data-target="#restore" title="Hồi phục">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </button>
          <% }else{%>
          <button class="btn btn-app" disabled title="Không có quyền này">
            <i class="fa fa-recycle" aria-hidden="true"></i>
          </button>
          <%} %>
        </div>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right">
            <!--  -->
            <span class="form-inline pull-right">
              <div class="input-group-append">
                      <select id="nhomquyen" class="form-control">
                          <option value="all" selected>-- Tất cả --</option>
                      </select>
                      <input class="form-control" type="text" placeholder="tìm kiếm..." value="" id="Search">
              </div>
            </span>
            <!--  -->
          </div>
        </div>
      </div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <div class="clearfix"></div>
        </div>
<div class="x_content">
    <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action table-bordered dt-responsive nowrap cell-border" style="font-family: Courier New, Courier, monospace;font-weight: bold">
          <thead>
            <tr class="headings">
              <th title="Mã học sinh" class="column-title">Mã</th>
              <th title="Họ tên học sinh" class="column-title">Họ Tên</th>
              <th class="column-title">Môn học</th>
              <th class="column-title">Điểm cả năm</th>
              <th class="column-title">Năm học</th>
              <th class="column-title text-center">Tùy chọn</th>
            </tr>
          </thead>
          <tbody id="tb_model">
              <% if(ketqua.length)
              {ketqua.forEach(function(e, i){%>
              <tr>
                <td><%= e.ma_hs %></td>
                <td><%= e.ten_hs %></td>
                <td><%= e.ten_mh %></td>
                <td><%= e.diem_tkmh %></td>  
                <td><%= e.namhoc %></td> 
                <td class="text-center">
                  <% if(locals.Role == 1){%>
                    <button class="btn btn-danger btn-xs delete" idtkmh = "<%= e.mamhtk %>" title="Xóa tổng kết môn học"><i class="fa fa-trash-o "></i></button>
                  <% }else{%>
                    <button class="btn btn-danger btn-xs" disabled title="Không có quyền này"><i class="fa fa-trash-o "></i></button>
                  <%} %>
                </td>
              </tr>
            <% })}else{%>
              <tr class="text-center text-danger">
                <td colspan="9">
                  Không có dữ liệu
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- Phân trang -->
      <div class="box-footer clearfix">
        <% include page.ejs %>
      </div>
    <!-- End phân trang -->
      <!-- Restore -->
      <% if(locals.Role == 1){%>
      <div class="modal" id="restore" style="font-family: Courier New, Courier, monospace;font-weight: bold;">
        <div class="modal-dialog mw-100 w-75">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header  alert alert-success">
              <h5 class="modal-title" style="font-size: 1.5 rem">Phục hồi thông tin điểm cả năm</h5>
              <button type="button text-danger" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
             <div class="row">
               <div class="col-12">
                <table class="weekly table-hover main-manager-display table-bordered dt-responsive nowrap cell-border" style="text-align: center; width: 100%;font-weight: bold">
                      <!-- Content in -->
                        <thead>	
                          <tr class="headings" style="font-weight: bold;">
                            <th>Mã</th>
                            <th>Họ tên</th>
                            <th>Môn học</th>
                            <th>Điểm cả năm</th>
                            <th>Năm học</th>
                            <th>Tùy chọn</th>
                          </tr>
                        </thead>
                          <tbody>
                            <% if(hoiphuc.length)
                            {hoiphuc.forEach(function(e, i){%>
                            <tr>
                              <td><%= e.ma_hs %></td>
                              <td><%= e.ten_hs %></td>
                              <td><%= e.ten_mh %></td>
                              <td><%= e.diem_tkmh %></td>  
                              <td><%= e.namhoc %></td>      
                              <td>
                                  <button class="btn btn-success btn-sm btn_restore" idtkmh = "<%= e.mamhtk %>" title="Phục hồi"><i class="fa fa-undo" aria-hidden="true"></i></button>
                                  <button class="btn btn-danger btn-sm btn_delete" idtkmh = "<%= e.mamhtk %>" title="Xóa tất cả thông tin điểm môn học cả năm"><i class="fa fa-trash-o "></i></button>         
                              </td>
                            </tr>
                          <% })}else{%>
                            <tr class="text-center text-danger">
                              <td colspan="9" style="padding-top: 15px;">
                                Không có dữ liệu
                              </td>
                            </tr>
                          <% } %>
                        </tbody>
                      <!-- End content in -->
                </table>
               </div>
             </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Ðóng</button>
            </div>
          </div>
          </div>
       <!-- End hồi phục -->
      </div>
      <% } %>
      <!-- End restore -->
</div>
<% include ../layout/footer.ejs %>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script src="./js/tongketcacmon.js"></script>
<% if(message != ""){ %>
  <script>
      Swal.fire({
          title:"Thông báo!",
          text:"<%= message %>"
      });
  </script>
<% } %>
